<h1>Look for images</h1>


<form class="" action="/imageSearch" method="post">
  <input type="text" name="search" value="">
  <input type="submit" name="name" value="Submit">
</form>


<% var input = document.querySelector('input'); %>
<% input.addEventListener('keypress', function(e){ %>
<%  if(e.keyCode === 13){  %>
<%    document.querySelector('.done').click();  %>
<%  }  %>
<% }); %>
